
body{
  background-image: url(https://mail.google.com/mail/u/0?ui=2&ik=5d14a153e2&attid=0.1&permmsgid=msg-a:r-311163078311438121&th=174e0839400b9a59&view=fimg&realattid=f_kfpsi6is0&disp=thd&attbid=ANGjdJ-9mXhrAgtPaGC7-rGV3ut4jydjb2jZrGydxkvKuUFQfRKXgsORFmJHZunLzW7o-Bb_aUm7Q7cP7TyEvETWWyeZLMBYE_Wyvyk24xhBBbC_lVIGB_krP7YSOA4&ats=2524608000000&sz=w1366-h657);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
}
.email.box{
  margin-right: 20px;
}
